@font-face {
	font-family: 'Iconly---Bold';
	src: url(../../assets/fonts/Iconly---Bold.eot?jilz72=) format('embedded-opentype'),
	url(../../assets/fonts/Iconly---Bold.eot?jilz72=) format('embedded-opentype'),
	url(../../assets/fonts/Iconly---Bold.ttf?jilz72=) format('truetype'),
	url(../../assets/fonts/Iconly---Bold.woff?jilz72=) format('woff'),
	url(../../assets/fonts/Iconly---Bold.svg?jilz72=) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}